a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

ul {
	list-style-type: none;
}

html,
body {
	box-sizing: border-box;
	height: 100vh; /* Ensures the body and HTML take up the full height of the viewport */
	margin: 0; /* Removes default margin */
	color: white;
}

body {
	background-image: url("https://w0.peakpx.com/wallpaper/167/598/HD-wallpaper-blue-flowers-blue-flowers-nature-nice.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

img.logo {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.sidebar {
	height: 100%;
	flex: 0 0 25%; /* Takes up 25% of the screen */
	background-color: #f0f0f0;
	flex-direction: column;
	border-right: 1px solid #f0f0f0;
}

.main-content {
	height: 100%;
	flex: 0 0 50%; /* Takes up the remaining space (50% here) */
	background-color: #e0e0e0;
	flex-direction: column;
}

.blurredBackground {
	margin: 0 20px;
	margin-top: 15px;
	padding: 20px;
	backdrop-filter: blur(10px); /*→ Creates the frosted glass effect. */
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.3); 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /*→ Creates a lifted effect.*/
	background: rgba(0, 0, 0, 0.2);
}

.master-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

#root {
	display: block;
}
